:root {
  --primary-color: #ff2d75;
  --background-color: #0c192c;
  --text-color: #333;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

* {
  box-sizing: inherit;
  border: none;
  outline: none;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
  font-family: cursive, sans-serif;
}

.row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin: 0 -8px;
  row-gap: 16px;
}

.col {
  padding: 0 8px;
}

.col-lg-4 {
  flex: 0 33.3333%;
  max-width: 33.3333%;
}

/* Animations */
@keyframes shake {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translate(-5px, 0);
  }
  50% {
    transform: translate(5px, 0);
  }
  75% {
    transform: translate(-5px, 0);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes floatAnimate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Tablet */
@media (max-width: 768px) {
  .col-md-6 {
    flex: 0 50%;
    max-width: 50%;
  }

  body,
  .result .user-form input,
  .result .user-form textarea,
  #date {
    font-family: sans-serif;
  }

  .question {
    font-size: 3rem;
  }

  .options label,
  .options input {
    font-size: 1.5rem;
  }

  .btn {
    font-size: 1.4rem;
    width: 200px;
  }

  .option-item {
    width: 100px;
    min-height: 140px;
  }

  .option-item span {
    font-size: 2.6rem;
  }

  #bye h2 {
    font-size: 1.8rem;
  }

  #bye p {
    font-size: 1.6rem;
  }
}

/* Mobile */
@media (max-width: 480px) {
  section {
    width: 90vw;
  }

  .col-sm-12 {
    flex: 0 100%;
    max-width: 100%;
  }

  .options:has(input[type="datetime-local"]) {
    flex-direction: column;
  }

  .question {
    font-size: 2.4rem;
  }

  .btn {
    font-size: 1.2rem;
    width: 280px;
  }

  .option-item {
    width: 90%;
    min-height: 140px;
  }

  .option-item span {
    font-size: 1.2rem;
  }

  #bye h2 {
    font-size: 1;
  }
}
